
.BackOffice_ListaVagas-Btn-AdicionarVaga{
    margin-top: 30px;
    margin-right: 100px;
    display: block;
    margin-left: 80%;
    border: none;
    background-color: #292E33;
    color: white;
    font-size: 120%;
    border: 1px solid white;
    transition: 0.4s;
    padding: 12px;
    border-radius: 10px;
}
.BackOffice_ListaVagas-Btn-AdicionarVaga:hover{
    background-color: #17a2b8;
    border-color: #17a2b8;
    color:white;
}
.BackOffice_ListaVagas-Container{
    margin-top: 40px;
}
.BackOffice_ListaVagas-Spinner{
    position: absolute;
    left:50%;
    width: 50px;
    height: 50px;
    margin-top: 200px;
}
.BackOffice_ListaVagas-LoadingText{
    position: absolute;
    left: 30%;
    margin-top: 100px;
    text-align: center;
    color: #28b3c9;
    font-size: 140%;
    -webkit-animation: text-focus-in 1s linear infinite alternate-reverse both;
	        animation: text-focus-in 1s linear infinite alternate-reverse both;
}
.BackOffice_ListaVagas-LinkLogout{
  position: absolute;
    top:8rem;
    left: 5rem;
    z-index: 100;
    padding-bottom:8px;
    color: white;
}
.BackOffice_ListaVagas-LinkLogout:hover{
  border-bottom:1px solid #17a2b8;
    padding-bottom:7px;
    cursor: pointer;
}
@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(1px);
              filter: blur(1px);
      opacity: 0.8;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(1px);
              filter: blur(1px);
      opacity: 0.8;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  #root > div > div > div.BackOffice_ListaVagas > a{
    color: white;
  }
  