.card{
    margin-bottom: 20px;
    background-color: #3c3c44;
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.card-header{
    cursor: pointer;
}

.card-body > span{
    color: white;
    font-size: 16px;
}
.card-body > ul > li{
    color: white;
    font-size: 14px;
}

.card-body{
    min-height: 220px;
    animation-name: TalkAnimation;
    -webkit-animation-name: TalkAnimation;

    animation-duration: 3s;
    -webkit-animation-duration: 3s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

     animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes RobotAnimation{
    0%{
        background-image:url("../images/RobotIcon01.png");
    }

    100%{
        background-image:url("../images/RobotIcon02.png");
    }
}
@-webkit-keyframes RobotAnimation{
    0%{
        background-image:url("../images/RobotIcon01.png");
    }
    100%{
        background-image:url("../images/RobotIcon02.png");
    }
}
@-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  